body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://img.syt5.com/2020/0904/20200904085740770.jpg.1680.0.jpg');
    background-size: cover; /* 背景图像充满整个容器 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex; /* 开启flex布局 */
    flex-direction: column; /* 纵向排列 */
    gap: 2em;
}


.module {
    border: 1px solid #f0f0f0; /* 添加外框 */
    padding: 1em; /* 添加内边距 */
    border-radius: 0.5em; /* 添加圆角 */
}

h1, h2 {
    text-align: center;
}

#timer {
    display: flex;
    justify-content: space-around;
}

#timer input {
    font-size: 2em;
    width: 2em;
    text-align: center;
}

#start {
    display: block;
    margin: 1em auto;
    padding: 0.5em 1em;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    cursor: pointer;
}

#start:hover {
    background-color: #e60073;
}

#record-list {
    margin-top: 2em;
}

#record-list li {
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5em 0;
}
